@charset "UTF-8";

header {
    background-image: none;

    margin-bottom: 50px;
}

/*----------  PLANET CONTAINER  ----------*/


.planet-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;

    margin-bottom: 100px;
}

.planet-title {
    font-size: 4.5rem;

    margin-bottom: 10px;
}

.planet-description {
    max-width: 500px;
}

.planet-img {
    animation: spiner 150s linear infinite;
    max-width: 512px;
}

@keyframes spiner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.planet-table-container {
    overflow-x: auto;
    margin-bottom: 200px;
    margin: auto;
}

.planet-table {
    border-collapse: collapse;

    max-width: 1000px;
    margin: auto;
}

.planet-table td,th {
    border: 1px solid #f2f2f2a1;
}

.planet-table td {
    font-size: 1rem;
}